/src/tokens.py
/src/__pycache__
/src/cogs/__pycache__
/src/cogs/Tempo 3 Cogs
/txt
/logs
/old
.vscode/launch.json
.out
lavalink.bat
application.yml
tempo.sqlite
lavalink-old.jar
src/.vscode/launch.json
lavalink.jar (working)
lavalink-old2.jar
/tempovenv
README PLEASE DEAR GOD.txt
application-old.yml
lavalink(working).jar
requirements.txt
update_old.sh
update.sh
src/restart_old.sh
